{%include 'empleados/header.html'%}




    <h1>Formulario de registro</h1><br>
    <form class="mb-3" method="POST" action="/store" enctype="multipart/form-data">

        <label for="txtNombre">Nombre:</label>
        <input type="text" name="txtNombre" id="txtNombre">
        <br>
        <label for="txtCorreo">correo:</label>
        <input type="email" name="txtCorreo" id="txtCorreo">
        <br>
        <label for="txtFoto">Foto:</label>
        <input type="file" name="txtFoto" id="txtFoto">
        <br>
        <button class="btn btn-primary" type="submit" name="Agregar" > Agregar </button>

    </form>

    <br>

    <a href="index.html">Volver al menú</a>




    
    {%include 'empleados/footer.html'%}